---
import { getCollection } from "astro:content";
import Layout from "@/layouts/MarkdownLayout.astro";
import type { CollectionEntry } from "astro:content";
import Tags from "@/components/Tags.astro";
import License from "@/components/CreativeCommons.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

type Props = {
  note: CollectionEntry<"notes">;
};

const { note } = Astro.props;

const {
  data: { title, tags },
} = note;

const { Content } = await note.render();
---

<Layout
  title={`${title} | Notes | GavDaly`}
  description={`Notes about ${note}`}
>
  <h2>{title}</h2>
  <Tags names={tags} />
  <article>
    <Content />
  </article>
  <License title={title} />
</Layout>
