---
import { getCollection } from "astro:content";
import Layout from "@/layouts/MarkdownLayout.astro";
import type { CollectionEntry } from "astro:content";
import Tags from "@/components/Tags.astro";
import License from "@/components/CreativeCommons.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

type Props = {
  note: CollectionEntry<"notes">;
};

const { note } = Astro.props;

const {
  data: { title, tags },
} = note;

const { Content } = await note.render();
---

<Layout
  title={`${title} | Notes | GavDaly`}
  description={`Notes about ${title}`}
>
  <header slot="header" class="flex flex-col gap-4">
    <h1 class="text-3xl font-extrabold text-sky-950 dark:text-sky-100 md:text-4xl">
      {title}
    </h1>
    <Tags names={tags} />
  </header>

  <Content />

  <footer slot="footer" class="text-sm text-sky-700 dark:text-sky-300">
    <License title={title} />
  </footer>
</Layout>
