---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import type { CollectionEntry } from "astro:content";
import { marked } from "marked";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const {
  post: {
    data: { title, description, publishedAt, postState },
  },
} = Astro.props;
let parsedDescription = marked.parse(description);
const { Content } = await post.render();
---

<Layout title={title} description={description}>
  <main class="my-10 post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header
      role="presentation"
      class="flex flex-row justify-between align-baseline"
    >
      <span>{postState}</span>
      <h1 class="text-4xl">
        {title}
      </h1>
      <time class="italic" datetime={formatDate(publishedAt)}>
        {formatDate(publishedAt)}
      </time>
    </header>

    <Content />
  </main>
</Layout>
