---
import { getCollection } from "astro:content";
import Layout from "@/layouts/MarkdownLayout.astro";
import formatDate from "@/utils/formatDate";
import type { CollectionEntry } from "astro:content";
import Tags from "@/components/Tags.astro";
import License from "@/components/CreativeCommons.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const {
  post: {
    data: { title, description, publishedAt, postState, tags },
  },
} = Astro.props;
const { Content } = await post.render();
---

<Layout title={title} description={description}>
    <header role="presentation" class="justify-between align-baseline mb-4">
      <h1 class="text-3xl font-black mb-2">
        {title}
      </h1>
      <p class="flex gap-6 mb-2">
        <span>{postState}</span>
        <time class="italic" datetime={formatDate(publishedAt)}>
          {formatDate(publishedAt)}
        </time>
      </p>
      <Tags names={tags}  />
    </header>

    <article>
        <Content />
    </article>

    <footer>
        <License title={title} />
    </footer>
</Layout>

<head>
<script is:inline type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": `${title}`,
    "description": `${description}`,
    "author": {
      "@type": "Person",
      "name": "Gavin Daly"
    },
    "datePublished": `${publishedAt.toISOString()}`,
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": `${Astro.url}`
    }
  }
</script>

</head>
