---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import type { CollectionEntry } from "astro:content";
import { marked } from "marked";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const {
  post: {
    data: { title, description, publishedAt },
  },
} = Astro.props;
let parsedDescription = marked.parse(description);
const { Content } = await post.render();
---

<Layout title={title} description={description}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {title} - {formatDate(publishedAt)}
      </h1>
      <p class="italic" set:html={parsedDescription} />
    </header>

    <Content />
  </main>
</Layout>
