---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import type { CollectionEntry } from "astro:content";
import Tags from "@/components/Tags.astro";


export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const {
  post: {
    data: { title, description, publishedAt, postState, tags },
  },
} = Astro.props;
const { Content } = await post.render();
---

<Layout title={title} description={description}>
  <section class="my-10">
    <header role="presentation" class="justify-between align-baseline">
      <h1 class="text-4xl">
        {title}
      </h1>
      <p class="flex gap-6">
        <span>{postState}</span>
        <time class="italic" datetime={formatDate(publishedAt)}>
          {formatDate(publishedAt)}
        </time>
      </p>
      <Tags names={tags} />
    </header>

    <main>
        <Content />
    </main>
  </section>
</Layout>

<head>
<script is:inline type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": `${title}`,
    "description": `${description}`,
    "author": {
      "@type": "Person",
      "name": "Gavin Daly"
    },
    "datePublished": `${publishedAt.toISOString()}`,
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": `${Astro.url}`
    }
  }
</script>

</head>


<style>
main:has(p) {
  @apply leading-7;
}

main:has(code) {
  @apply rounded-sm bg-neutral-800 px-1 py-1 text-orange-500;
}

main:has(h2) {
  @apply mt-6 text-3xl text-neutral-100;
}

main:has(h3) {
  @apply mt-4 text-xl text-neutral-100;
}

main:has(code) {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-red-500;
}

main:has(a) {
  @apply text-neutral-100 underline;
}

main:has(ul) {
  @apply list-disc;
}

main:has(blockquote) {
  @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-red-400 before:content-[''];
}

main:has(pre) {
  @apply p-4;
}

 main:has(pre > code) {
  @apply bg-transparent;
}
</style>
