---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<head>
  <script is:inline
    type="application/ld+json">
    {"@context": "https://schema.org",
      "@type": "Blog",
      blogPosts: posts.map((post) => ({
        "@type": "BlogPosting",
        headline: post.data.title,
        description: post.data.description,
        datePublished: post.data.publishedAt.toISOString(),
        url: `${Astro.url}/posts/${post.slug}`,
      })),
    }
  </script>
</head>

<Layout title="Posts | GavDaly" description="A list of post by Gavin Daly">
  <main class="flex flex-col">
    <h2 class="text-2xl mb-6">Posts</h2>

    <article class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <a
            class="group flex flex-col gap-2 border-sky-600 border-t-2 py-4 transition-all"
            href={`/posts/${post.slug}`}
          >
            <div class="flex w-full items-center justify-between">
              <h3 class="text-xl font-bold">{post.data.title}</h3>

              <div class="flex flex-row items-center gap-4">
                <p>{formatDate(post.data.publishedAt)}</p>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  class="transition-all duration-300 group-hover:translate-x-1"
                >
                    <use href="#arrow"></use>
                </svg>
              </div>
            </div>
            <p>{post.data.description}</p>
          </a>
        ))
      }
    </article>
  </main>
</Layout>
