---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
  image?: string;
};

const {
  label,
  image,
  isUnderline,
  target = "_blank",
  rel = "noreferrer",
  ...props
} = Astro.props;
---

<a
  href={props.href}
  class:list={{
    "inline-flex items-center gap-2 text-lg font-semibold transition-colors hover:text-sky-800 dark:hover:text-sky-100 cursor-pointer":
      true,
    "underline decoration-sky-600 underline-offset-8 decoration-2 hover:decoration-sky-400":
      isUnderline,
  }}
  {...props}
  rel={rel}
  target={target}
>
  {
    image ? (
      <img src={image} alt={label} class="h-4 w-4" />
    ) : (
      <span class="inline-flex items-center gap-2 text-lg">
        {label}
      </span>
    )
  }
</a>
