---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const tag_store: Map<string, [{ title: string; url: string }]> = new Map();

  const notes = await getCollection("notes");
  const posts = await getCollection("posts");
  const projects = await getCollection("projects");

  notes.forEach((note) => {
    note.data.tags?.forEach((tag) => {
      let data = {
        title: note.data.title,
        url: `/notes/${note.slug}`,
      };
      let t = tag_store.get(tag);
      if (t) {
        t.push(data);
      } else {
        tag_store.set(tag, [data]);
      }
    });
  });

  projects.forEach((project) => {
    project.data.tags?.forEach((tag) => {
      let data = {
        title: project.data.title,
        url: `/projects/${project.slug}`,
      };
      let t = tag_store.get(tag);
      if (t) {
        t.push(data);
      } else {
        tag_store.set(tag, [data]);
      }
    });
  });

  posts.forEach((post) => {
    post.data.tags?.forEach((tag) => {
      let data = {
        title: post.data.title,
        url: `/posts/${post.slug}`,
      };
      let t = tag_store.get(tag);
      if (t) {
        t.push(data);
      } else {
        tag_store.set(tag, [data]);
      }
    });
  });

  return Array.from(tag_store.entries()).map(([tag, locations]) => ({
    params: { tag },
    props: { locations },
  }));
}

let { locations } = Astro.props;
let { tag } = Astro.params;
---

<Layout>
  <h2 class="text-4xl font-bold text-gray-200 my-4">{tag}</h2>
  <ul>
    {
      locations.map(({ title, url }) => (
        <li class="text-lg underline font-semibold">
          <a href={url}>{title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
