---
import { getCollection } from "astro:content";
import Layout from "@/layouts/MarkdownLayout.astro";
import Tags from "@/components/Tags.astro";
import type { CollectionEntry } from "astro:content";
import License from "@/components/CreativeCommons.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const {
  project: {
    data: { title, link, status, technology, tags, summary },
  },
} = Astro.props;
const { Content } = await project.render();
---

<Layout
  title={`Project: ${title} | GavDaly`}
  description={summary || `Project: ${title}`}
>
  <div class="flex mt-3 mb-3 gap-6 items-baseline">
    <h2 class="font-extrabold text-3xl">{title}</h2>
    {
      link && (
        <a href={link} rel="noopener noreferrer">
          <span class="sr-only">GitHub link to {title}</span>
          <svg class="icon h-5 w-5">
            <use href={`#github`} />
          </svg>
        </a>
      )
    }
  </div>

  <span class="w-fit rounded-lg border border-blue-800 px-4 py-1">
    {status}
  </span>
  <h3 class="mt-3">Technology Used</h3>
  <ul class="flex flex-row gap-3 my-4 list-none ml-0">
    {
      technology.map((tech: string) => (
        <li class="text-xs font-thin">{tech}</li>
      ))
    }
  </ul>
  <Tags names={tags} />
  <article>
    <Content />
  </article>
  <License title={title} />
</Layout>
