---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Tags from "@/components/Tags.astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const {
  project: {
    data: { title, link, status, technology, tags },
  },
} = Astro.props;
const { Content } = await project.render();
---

<Layout title={`GavDaly | Project: ${title}`}>
  <div class="flex mt-3 mb-3 gap-6 items-baseline">
    <h2 class="font-extrabold text-3xl">{title}</h2>
    {
      link && (
        <a target="_blank" rel="noopener noreferrer" href={link}>
          <img class="h-6" src="/svgs/github.svg" alt="GitHub" />
        </a>
      )
    }
  </div>

  <span class="w-fit rounded-md bg-neutral-900 px-4 py-1 my-8">{status}</span>
  <h3>Technology</h3>
  <ul class="flex flex-row gap-3 my-4">
    {
      technology.map((tech: string) => (
        <li class="py-1 px-2 bg-gray-800 text-xs rounded-full">{tech}</li>
      ))
    }
  </ul>
  <Tags names={tags} />
  <Content />
</Layout>
